<div class="anatomical <%=p%>" style="visibility: hidden;">
  <%= form.link_to_add(:details, "data-target" => "#symptoms",
                       :initial_values =>'"part":"'+p+'"') do %>
    <%= SymptomDetail.parts.find{|k,v|k==p}[0] %>
  <% end %>
</div>
