<div class="modal fade" id="comment" tabindex="-1" role="dialog" aria-labelledby="dialogHeader" aria-hidden="true"> 
  <div class="modal-dialog"> 
    <div class="modal-content"> 
      <div class="modal-header"> 
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> 
        <h4 class="modal-title" id="dialogHeader">コメント</h4> 
      </div> 
      <div class="modal-body"> 
        <%= form_for(@sick.sick_comments.build, url: sick_sick_comments_path(@sick), remote:true) do |sf| %>
          <%= sf.text_area :contents, :class => 'modal-comment form-control', :rows => 6 %>
      </div>
      <div class="modal-footer">
          <%= sf.button 'コメントする', class: 'btn btn-lg btn-primary btn-block', data: { disable_with: '作成中' } %>
        <% end %>
      </div> 
    </div> 
  </div> 
</div>
