<div class="container">
<h3>
    <div class="pull-left">
        <%= image_tag @user.image_url, :class => 'original-icon' %>
    </div>
    <div class="">
        <%= @user.nickname %>さんの記録
    </div>
</h3>

<div class="description">
    <% if @symptoms.count==0 %>
        まだ1件も記録がありません。<br>
        <br>
    <% else %>
        <%= render partial: 'symptoms', locals: {user: @user, symptoms: @symptoms} %>
    <% end %>
    <%= link_to '記録する', new_user_symptom_path(current_user), class:'btn btn-primary btn-lg' %>
</div>

</div>

