<h3>
    <!-- TODO I want Twitter's icon here -->
    <%= @user.nickname %>さんの記録
    <!-- TODO I want birthday and sex here -->
    <!-- TODO I want social link to twitter, facebook, mixi .... here -->

</h3>

<%= render partial: 'symptoms', locals: {user: @user, symptoms: @symptoms} %>
