<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="dialogHeader" aria-hidden="true"> 
  <div class="modal-dialog"> 
    <div class="modal-content"> 
      <div class="modal-header"> 
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> 
        <h4 class="modal-title" id="dialogHeader">新しい症状</h4> 
      </div> 
      <div class="modal-body"> 
        <input type=hidden value="" id="modal-x"/>
        <input type=hidden value="" id="modal-y"/>
        <textarea id="modal-memo" class="form-control" rows="6" placeholder="ここに症状を入力"></textarea>
      </div> 
      <div class="modal-footer"> 
        <button type="button" class="btn btn-lg btn-primary btn-block" id="add-progress">追加</button>
      </div> 
    </div> 
  </div> 
</div>
