<div class="page-header">
  <h1>煩ってる人達、最近登録された症状の一覧。</h1>
</div>

<div class-"list-group">
  <% @sicks.each do |sick| %>
    <%= link_to(sick, class: 'list-group-item') do %>
      <h4 class="list-group-item-heading">
        <%= sick.owner.nickname %>さんの症状(<%= sick.id %>)
        <%= sick.created_at %>
      </h4>
    <% end %>
  <% end %>
</div>

