<div class="page-header">
  <h1>煩ってる人達、最近登録された症状の一覧。</h1>
</div>

<div class-"list-group">
  <% @symptoms.each do |symptom| %>
    <%= link_to(symptom, class: 'list-group-item') do %>
      <h4 class="list-group-item-heading">
        <%= symptom.owner.nickname %>さんの症状(<%= symptom.id %>)
        <%= symptom.created_at %>
      </h4>
    <% end %>
  <% end %>
</div>

