// Place all the styles related to the symptoms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input, select, option, textarea {
  font-size: 16px !important;
}

.description{
  font-size:11px;
  padding-bottom:20px;
  color:#6666CC;
}

