// Place all the styles related to the symptoms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,
body {
  height: 100%;
}

.main-content{
  min-height: 75%;
}
input, select, option, textarea {
  font-size: 16px !important;
}

header{
  margin-bottom: 0px !important;
}

footer {
  bottom:-15% !important;
  margin: 20px 0px 0px 0px !important;
  padding-top: 10px;
  padding-bottom: 10px;
}
