// Place all the styles related to the symptoms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.small-icon{
  height:20px;
  width:20px;
}

.original-icon{
  height:40px;
  width:40px;
  margin-right:5px;
  margin-bottom:5px;

}
