<div class="description">
    <div class="col-xs-12 col-md-4 text-center step">
        <div class="description-image site-image center-block"></div>
        <div class="description-text">
        </div>
    </div>
    <div class="col-xs-12 col-md-8 step">
        <div class="description-text">
            Kirokuは、体調不良を記録できるWebサービスです。<BR>
            病院での問診の時にKirokuを見ながら説明したり、<BR>
            Kirokuの他のユーザーから治療のアドバイスが貰えるかもしれません。<BR>
            <BR>
            記録した症状は全てのユーザーに公開されます。<BR>
            ご理解の上、ご利用ください。<BR>
            また、Kirokuを利用するためにはTwitter、もしくは、Facebookのアカウントが必要です。<BR>
        </div>
        <br>
        <div class="col-xs-12 col-md-4">
            <% unless logged_in? %>
                <%= link_to 'ログイン・新規登録', login_path, class:'btn btn-success btn-lg btn-block' %>
            <% end %>
        </div>
    </div>
</div>
<div class="description ex1">
    <div class="col-xs-12 col-md-4 text-center step">
        <div class="description-image first center-block"></div>
        <div class="description-text">
            まずはKirokuに体調を記録しましょう。
        </div>
    </div>
    <div class="col-xs-12 col-md-4 text-center step">
        <div class="description-image second center-block"></div>
        １時間おき、１日おき、気が付いた時、定期的に記録をためて...
    </div>
    <div class="col-xs-12 col-md-4 text-center step">
        <div class="description-image third center-block"></div>
        病院での問診にて活用しましょう！<br>
        Kirokuを見ながら話せば、症状を正確に伝えられます。
    </div>
</div>

<div class="description ex2">
    <div class="col-xs-12 col-md-4 text-center step">
        <div class="description-image four center-block"></div>
        溜まった記録を見た他のユーザから...
    </div>
    <div class="col-xs-12 col-md-4 text-center step">
        <div class="description-image last center-block"></div>
        Twitter経由でアドバイスが貰えるかもしれません！
    </div>
    <div class="col-xs-12 col-md-4 text-center step">
    </div>
</div>

<div class="start-kiroku">
    <div class="col-xs-12 col-md-4">
        <% unless logged_in? %>
            <%= link_to 'ログイン・新規登録', login_path, class:'btn btn-success btn-lg btn-block' %>
        <% else %>
            <%= link_to '記録する', new_user_symptom_path(current_user.id), class:'btn btn-success btn-lg btn-block' %>
            <%= link_to '記録を見る', user_path(current_user.id) , class:'btn btn-info btn-lg btn-block' %>
        <% end %>
    </div>
    <div class="col-xs-12 col-md-8 step">
        医療現場を患者側から効率化したくてKirokuを作りました。<br>
        日本における医療リソース不足問題は、日々深刻化しています。<br>
        医療リソースを有効に活用するためには、病院の努力だけではなく<br>
        我々、患者も努力しないといけないという想いでサービスを運営いたします。<br>
        問診にかかる時間を一人あたり一分、一秒でも減らすことができれば<br>
        より多くの患者さんが医療を受けられるのではないかと思っています。<br>
        <br>
        Kirokuを活用して、ご自身の問診を効率よく進めることで、日本が抱える問題に貢献されることを願っています。<br>
    </div>
</div>
