<% data.parts.each do |s| %>
<div class="fields">
  <div class="thumbnail col-xs-12 col-sm-6 col-md-4">
    <div class="pull-left">
      <canvas class="progress-canvas" width="150" height="150"></canvas>
    </div>
    <input type="hidden" value="<%=s.front_or_back%>" class="frontOrBack" />
    <%= hidden_field :s, :x, :value => s[:x], :class => 'pointX' %>
    <%= hidden_field :s, :y, :value => s[:y], :class => 'pointY' %>
    <%= s.memo %>
  </div>
</div>
<% end %>
