<div class="modal fade" id="recover_completely" tabindex="-1" role="dialog" aria-labelledby="dialogHeader" aria-hidden="true"> 
  <div class="modal-dialog"> 
    <div class="modal-content"> 
      <div class="modal-header"> 
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> 
        <h4 class="modal-title" id="dialogHeader">治療の内容を教えて下さい。</h4> 
      </div> 
    <div class="modal-body"> 
      <%= form_for(@sick) do |f| %>
        <%= f.text_area :recover_completely_comment, :class => 'form-control', :rows => 6, :placeholder => '治療の内容を入力' %>
      </div>
      <div class="modal-footer">
        <%= f.submit '登録',  class: 'btn btn-primary btn-block', data: { disable_with: '作成中' } %>
      <% end %>
    </div> 
    </div> 
  </div> 
</div>
